<footer class="footer">
	<small>
		<a href="http://webguru.net.au">Sample App</a>
		by Ravi Shanker
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://webguru.net.au/">WebGuru</li>
		</ul>
	</nav>
</footer>